html{
   scroll-behavior: smooth; 
}
.heroImg{
text-align: center;
margin-top: 200px;
align-items:center;
position: relative;
text-align: center;
display:block;
justify-content: center;
}
    .rightSparkle{
        height:188px;
        width:188px;
        float:right;
        transform: rotate(200deg)
    }
    .leftSparkle{
        height:188px;
        width:188px;
        float:left;
        transform:rotate(-12deg);
        position:relative;
    }
h1{
    font-size: 30px;
    font-style:italic;
    font-weight:400;
    font-family:'Poppins', sans-serif;
    color:#434343;
}
h2{
    font-size:60px;
    font-style: normal;
    font-weight:1000;
    font-family:'Poppins', sans-serif;
    margin-bottom: 90px;
}
.down{
    height:169px;
    width:169px;
}
.inline-block{
    font-family:'Space Mono', monospace;
    float:right;
    display:block;
    text-align: right;
    padding-left: 15%;
}
nav{
    width:100% !important;

}
.navbar{
    display:flex !important; 
    justify-content:space-evenly !important;
}
.navLink{
    display:block;
    float:right;
    margin: 42px;
}
.logo{
    margin-top:42px;
    margin-left:66px;
}
h1, h2{
    line-height: 2%;
}
.down{
    margin-bottom: 172px;
    margin-top:125px;
}
body{
    background-image:url("../images/MacBook\ -\ 1.png");
    background-repeat: none;
    background-size:cover;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    width:100%;
    align-content: center;
    justify-content: center;
}
     .project {
        display:flex;
        padding: 20%;
        margin-right:50px;
    }
    .image{
        flex-grow: 80%;
        flex-shrink:0%;
        filter:grayscale(85%)brightness(120%);
        margin:50px;
       
    }
    h3{
        font-size: 48px;
        font-family:'Poppins', sans-serif;
        line-height: 50%;
        font-weight: bold;
        text-decoration: none;
    }
    p{
        font-size:18px;
        font-family:'Space Mono', monospace;
    }
    .text{
        margin:auto;
        color:#434343;
        margin-right: 20%;
    }
    .image:hover{
        filter:none;
        transition: 1s;
    }
    a{
        text-decoration: none;
        color:black;
    }
    a:hover{
        text-decoration: underline;
        color: #5643ff;
    }
/*about me page*/
.intro{


margin-top: 2%;
display:flex;
justify-content: space-evenly;

}
    h4{
        font-size: 24px;
        font-weight: 800;
        font-style: bolder;
        font-family: 'Poppins', sans-serif;
        color:#434343;
        text-align:right;
        height:163px;
        width:248px;
        position: fixed;
    }
    .aboutMe{
        height:216px;
        width:590px;
        color:#434343;
        padding-left:20%;
        padding-bottom: 80%;
    }
    .anxiety{
        height:195px;
        width:195px;
        margin-left: 15%;
    }
    h4 ,.anxiety{
        display:grid;
        grid-row: auto;

    }
.things{
    font-family: 'Space Mono', monospace;
    font-size: 18px;
}
.grid{
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 43px;
        padding-right: 15%;
        margin-top: 6%;
        margin-bottom: 0%;
}
.footer{
    display:flex;
    justify-content:space-evenly;
    bottom:0;
    
    }

/*casestudy1 page*/
.caseStudy1{
    background: white !important;
}
.flex-column{
    position:fixed;
}
.nav-item{
    font-family:'Space Mono', monospace !important;
}
.nav-item:hover{
    text-decoration: underline;
}

.introInfo{
   margin-top: 10%;
}
.personasPif{
    padding-bottom: 10%;
}
.row{
    align-items: center;
    margin-bottom: 20%;
    justify-content: center;
}
.titlePif{
    margin-bottom:0%;
}
.quotesPif{
    position: relative;
    
}
.quote1, .quote2, .quote3{
    margin:2%;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    vertical-align: text-top;
}
.wireframeInfoPif{
    margin-top: 10%;
}
.idea{
    margin-right:10%;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
  vertical-align: top;
}

    /*/ Small devices (landscape phones, 379px and up)*/
    @media (max-width: 379px) {
       body{
           display:block;
       }
       .rightSparkle img {
          display:none;
       }
       .leftSparkle img {
           display:none;
       }

       .intro{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: px;
        grid-row-gap: px;
        margin:0 auto;
        }
        .fixed{
            justify-content: left;
        }
        h4,.anxiety{
            position: static;
            margin-left: 33.3%;
            margin-right:33.3%;
        }
        h4{
            text-align: left;
        }
        .grid{
            align-content: center;

    
    }
}
    /*/ Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }
    
   // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }//